body {
    font-family: "Open Sans", Arial, sans-serif;
    color: #60606e;
}

h1, h2, h3, h4, button, .navbar-brand {
    font-family: Montserrat, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.max-width {
    max-width: 1170px;
    margin: 0 auto;
}

.btn-green {
    color: white;
    background-color: #7bedc7;
    border-radius: 0;
    padding: 12px 40px;
}

.btn-inverse {
    color: #7bedc7;
    background-color: white;
}

.btn:focus, .btn:hover {
    outline: none;
    color: white;
}

.btn-inverse:focus,
.btn-inverse:hover {
    color: #7bedc7;
}

.text-inverse {
    color: white;
}

.green-underline {
    position: relative;
    z-index: 0;
}
.green-underline:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -50%;
    transform: translateY(-50%);
    background-color: #7bedc7;
    width: 65px;
    height: 22px;
    z-index: -1;
}


h2 {
    display: inline-block;
    font-size: 1.875rem;
}

.header-container {
    text-align: center;
    padding-bottom: 100px;
}
.header-container h2 {
    margin-bottom: 20px;
}
.header-container p {
    margin: 0 auto;
    max-width: 720px;
    font-size: 0.875rem;
    color: #60606e;
}

header {
    background: url("img/background.png") center bottom no-repeat;
    background-size: cover;
}

header p {
    line-height: 1.875;
}

header .img-wrapper {
    position: relative;
    margin: 0 auto -100px;
    overflow: hidden;
    height: 400px;
    max-width: 458px;
}

header .img-wrapper img{
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar-default {
    background-color: transparent;
    border: none;
}

.header-wrapper {
    margin: 147px auto 120px;
    max-width: 555px;
}
.header-wrapper p:first-child {
    display: inline-block;
    font-size: 1.125rem;
    margin-bottom: 0;
    padding: 2px 14px;
    background-color: #7bedc7;
}

.header-wrapper h1 {
    font-size: 3rem;
    margin: 0 0 20px;
    padding: 14px 0;
    border: 10px solid #60606e;
}

.header-wrapper p:last-of-type {
    font-weight: normal;
}


header .btn-wrapper{
    text-align: right;
}
header .btn-wrapper .btn{
    margin-bottom: -15%;
}

#chooseUs {
    padding-top: 220px;
}

#chooseUs i {
    font-size: 36px;
}
#chooseUs ul {
    margin-bottom: 45px;
}
#chooseUs li {
    color: #999;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1.875rem;
}

#portfolio {
    padding: 115px 0 125px;
}
#portfolio .wrapper {
    padding-left: 10px;
}
#portfolio h3 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 1.875rem;
    line-height: 3rem;
}

#portfolio .filter-menu li {
    margin-bottom: 10px;
}
#portfolio .filter-menu li a {
    display: inline-block;
    font-size: 0.875rem;
    text-transform: uppercase;
    padding: 5px 15px;
}
#portfolio .filter-menu li.active a {
    color: white;
    background-color: #7bedc7;
}

#portfolio .grid-sizer,
#portfolio .grid-item {
    width: calc(33% - 15px);
}
#portfolio .grid-item {
    text-align: center;
    padding-bottom: 30px;
}

#contact {
    padding: 20px 0 50px;
    background-color: #7bedc7;
}

#contact h2 {
    line-height: 3rem;
}

#contact h3 {
    margin-bottom: 5px;
    font-size: 1.5rem;
    line-height: 2.25rem;
    max-width: 400px;
}
#contact p {
    margin-bottom: 30px;
}

#contact .white-bg {
    margin-top: 25px;
    background-color: white;
    padding: 1px 25px 20px;
}

#contact .form-control {
    height: 50px;
}

footer {
    padding-top: 45px;
    padding-bottom: 50px;
    color: #9a9a9a;
    text-transform: uppercase;
}

footer a {
    color: #9a9a9a;
}

footer .list-inline > li {
    padding-right: 0;
}

footer .bottom-menu li {
    padding-left: 0;
}

footer .bottom-menu li:after {
    content: "-";
    display: inline-block;
    width: 30px;
    text-align: center;
}

footer .bottom-menu li:last-of-type:after {
    content: "";
}

footer i {
    font-size: 1.125rem;
}

@media all and (max-width:991px) {
    header .img-wrapper {
        margin-bottom: 10px;
    }

    header h2 {
        text-align: center;
    }

    header .btn-wrapper{
        text-align: center;
    }
}

@media all and (max-width: 767px) {

    #portfolio .filter-menu li {
        display: inline-block;
    }
}