$side-gap: 11%;
$product-grid-margin-side: 3%;

$header-line-height: 54px;
$small-slider-height: 190px;

$small-slider-slides-sm: 3;
$small-slider-slides-xs: 2;
$small-slider-slides-xxs: 1;
$products-per-row-md: 3;
$products-per-row-sm: 2;
$products-per-row-xxs: 1;
$bottom-links-columns: 4;

$logo-color: #3cc3b5;
$menu-bg: #4ccfc1;
$slider-top-color: #3bc7b0;
$slider-top-active-nav-color: #7bd5c9;
$featured-header-bg: #3bc4b8;
$bottom-nav-bg: #3cc3b5;
$slide-text-color: #afafaf;
$border-color: #e7e7e7;
$button-color: #3cc395;
$footer-bg: #2da89b;